<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapi.record.dao.WhiteListMapper">
	
	<!-- public void add(Task task); 
	public List<Task> getTaskByUserId(Integer userId);
	
	public List<Task> getAll();
	-->
	
	<select id="getAll"  resultType="com.mapi.record.bean.WhiteList">
		select id,path,create_time from white_list order by id desc
	</select>
	
	<select id="getPath"  resultType="java.lang.String">
		select path from white_list
	</select>
</mapper>